{% extends "base.html" %}
{% block content %}
     <h3>Python-Flask</h3>
    <div class="container my-5">
        <div class="row">
            <div class="col-12">
                <p>
                    PyTest is a testing framework that lets users build test scripts in Python. It aids in the creation of simple and scalable API test scenarios.
                    Several tests have been written in this project to test several instances of code and webpages. In this project within the tests folder,
                    different python files are present to test different instances of the project. In simple_pages_test file I have written tests to check if the correct webpages are loading for certain responses and if 404 error status code is displayed for
                    page not found.
                </p>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <div class="col-4">
                        <img src="https://miro.medium.com/max/640/1*XzIRJGujfqAiOV2EIQgR_Q.png" style="height: 50% !important; width: 100%"/>


                             </div>
                    <div class="col-8">
                       <p> There are several commands in Docker and some of them are :-</p>
                        <ul>
                            <li><b>docker_flask</b> <- root of the folder</li>
                            <ul>
                                <li><b>docker-compose.yml</b> : Docker orchestration file contains step by step process to run the container.</li>
                                <li><b>Dockerfile</b> : Used to build a Docker Image.</li>
                            </ul>
                            <li><b>workflows</b> <- contains workflows blueprints</li>
                            <ul>
                                  <li><b>dev.yml</b> : contains development workflow and is activated when an branch is merged into the main branch.</li>
                                  <li><b>prod.yml</b> : contains production workflow and is activated when data is pushed from local to github repository. </li>
                            </ul>

                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="row">
                        <ul>
                        <li><b>app</b> folder <- contain webpages,controllers for servers, css, javascript files etc.</li>
                            <ul>
                                <li><b>simple_pages</b><- contains controller for webpages  of our for project.</li>
                                <ul>
                                    <li><b>templates</b><- contains all the webpages in our project, like index,flask,docker pages.</li>
                                    <li><b>_init_.py</b> : contains python function to render content from simple webpages combined with base html</li>
                                </ul>
                                <li><b>static</b> <- This folder contains all the static content for project like CSS, JavaScript and images.</li>
                                <li><b>templates</b><- contains template files like base.html that is common for most of the webpages.</li>
                                <li><b>run.py</b>: used to create server for the API.</li>
                                <li><b>_init_.py</b> : contains initiation of Flask application.</li>
                            </ul>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-4" id="sidebar">
                <h5> More Reading Material</h5>
                <ul>
                    <li> <a href="/docker">Docker</a>  </li>
                    <li> <a href="/git">Git/GitHub</a> </li>
                    <li> <a href="/cicd">CI/CD</a>  </li>
                </ul>
                 <img src="https://miro.medium.com/max/800/1*Q5EUk28Xc3iCDoMSkrd1_w.png" style="height: 25% !important; width: 100%"/>
            </div>
        </div>
    </div>
{% endblock %}